<!doctype html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">

    <title>Prototipação e Produção com Vue.js e Firebase</title>

    <meta name="description" content="Palestra sobre como criar protótipos e webapps para produção utilizando o Vue.js e o Firebase">
    <meta name="author" content="João Vitor Cavalcante">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/moon.css" id="theme">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <style>
      .text-right {
        text-align: right;
      }

      .yellow {
        color: #FFFF00;
      }

      section img {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
      }
    </style>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Vue.js e Firebase</h1>
          <h3>João Cavalcante</h3>
          <p><a href="http://twitter.com/kavalcantej">@kavalcantej</a></p>
          <p><a href="http://kavalcante.com">www.kavalcante.com</a></p>
          <p><a href="https://cotabox.com.br" target="_blank"><img src="images/logo-horizontal.png" style="border: 0; background: none;" alt="Logo Cotabox"></a></p>
        </section>

        <section>
          <section>
            <h2>Aeris 22</h2>
            <p>
              <a href="https://cotabox.com.br" class="fragment" target="_blank"><img src="images/logo-horizontal.png" style="border: 0; background: none; margin-right: 40px; box-shadow: none;" alt="Logo Cotabox"></a>
              <a href="https://vagascg.com.br" class="fragment" target="_blank"><img src="images/vagascg.png" style="border: 0; background: none; box-shadow: none;" height="70" alt="Logo Vagas CG"></a>
            </p>
          </section>
          <section>
            <h1>Muitos produtos</h1>
            <p class="text-right">pouco tempo...</p>
          </section>
          <section>
            <h1>Muitos produtos</h1>
            <p class="text-right yellow">pouco tempo...</p>
          </section>
          <section>
            <h1>Mas...</h1>
            <h2>E se a ideia for boa?</h2>
          </section>
          <section>
            <h1>Precisamos de velocidade!</h1>
          </section>
          <section>
            <h1>Foi ai que conhecemos o</h1>
            <p>
              <img src="images/firebase.png" wi width="200" alt="Firebase">
              <img src="images/vue.png" width="200" alt="Firebase">
            </p>
          </section>
        </section>

        <section>
          <section>
            <h1>Vue.js!</h1>
            <h2 class="fragment">O que é?</h2>
            <h4 class="fragment">Um framework JavaScript progressivo e incrementalmente adotável para construir interfaces na web.</h4>
          </section>
          <section>
            <h2>Ecossistema do Vue.js</h2>
            <ul>
              <li class="fragment">Vue.js</li>
              <li class="fragment">Vue Router</li>
              <li class="fragment">Vuex</li>
              <li class="fragment">Vue Cli</li>
              <li class="fragment">Vue Resource</li>
              <li class="fragment">Vuefire</li>
            </ul>
          </section>
          <section>
            <h2>Tá, e dai?</h2>
          </section>
        </section>

        <section>
          <section>
            <h1>Firebase!</h1>
            <h2 class="fragment">O que é?</h2>
            <h4 class="fragment">BaaS (Back-end as a Service)</h4>
          </section>
          <section>
            <h2>O Firebase te dá:</h2>
            <ul>
              <li class="fragment">Hosting</li>
              <li class="fragment">Storage</li>
              <li class="fragment">Autenticação</li>
              <li class="fragment">e principalmente</li>
              <li class="fragment">um banco de dados em tempo real</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h1>Mais detalhes :)</h1>
          </section>
          <section>
            <p>
              <img src="images/joao.jpg" width="300" alt="Eu">
              <img src="images/x.jpg" width="300" alt="Versus">
              <img src="images/turbo.jpg" width="300" alt="Turbo">
            </p>
          </section>
          <section>
            <p>
              <img src="images/joao.jpg" width="300" alt="Eu">
              <img src="images/coracao.png" width="300" alt="Versus">
              <img src="images/turbo.jpg" width="300" alt="Turbo">
            </p>
          </section>
          <section>
            <ul>
              <li class="fragment">O Vue.js tem uma curva de aprendizado extremamente simples se comparado ao Angular 2 e principalmente ao React.</li>
              <li class="fragment">Ele tem uma performance surpreendente se equiparado aos mesmos frameworks.</li>
              <li class="fragment">Ele é reativo igual ao React e também utiliza Virtual DOM.</li>
              <li class="fragment">A comunidade do Vue é espetacular.</li>
              <li class="fragment">Existem diversos componentes e plugins já criados.</li>
              <li class="fragment">Ou seja, o Vue é que há de melhor na sintaxe bonita e fácil do Angular e na escalabilidade e grandiosidade do React.</li>
              </li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h1>Vue.js x React</h1>
          </section>
          <section>
            <h1>Sintaxe</h1>
          </section>
          <section>
            <h2>React</h2>
            <pre><code class="hljs" data-trim contenteditable>
render ()  {
  let { items } = this.props
  let children
  if  (items.length > 0)  {
    children  = (
      &lt;ul>
        {items.map(item =>
          &lt;li  key={item.id}>{item.name}&lt;/li>
        )}
      &lt;/ul>
    )
  } else  {
    children  = &lt;p>No  items found.&lt;/p>
  }
  return  (
    &lt;div className='list-container'>
      {children}
    &lt;/div>
  )
}
            </code></pre>
          </section>
          <section>
            <h2>Vue.js</h2>
            <pre><code class="hljs" data-trim contenteditable>
&lt;template>
    &lt;div  class="list-container">
        &lt;ul v-if="items.length">
            &lt;li v-for="item in  items">
                {{  item.name }}
            &lt;/li>
        &lt;/ul>
        &lt;p  v-else>No items found.&lt;/p>
    &lt;/div>
&lt;/template>
            </code></pre>
            <p>Lindo né?</p>
          </section>
          <section>
            <h2>Tabela de Comparação</h2>
            <table>
              <thead>
                <tr>
                  <th>Cenário</th>
                  <th>Vue</th>
                  <th>React</th>
                </tr>
              </thead> 
              <tbody>
                <tr>
                  <td>Mais rápido</td>
                  <td>23ms</td>
                  <td>63ms</td>
                </tr>
                <tr>
                  <td>Mediana</td>
                  <td>42ms</td>
                  <td>81ms</td>
                </tr>
                <tr>
                  <td>Média</td>
                  <td>51ms</td>
                  <td>94ms</td>
                </tr>
                <tr>
                  <td>Mais lento</td>
                  <td>343ms</td>
                  <td>453ms</td>
                </tr>
              </tbody>
            </table>
            <p>Fonte: <a href="https://github.com/chrisvfritz/vue-render-performance-
comparisons">https://github.com/chrisvfritz/vue-render-performance-
comparisons</a></p>
          </section>
        </section>

        <section>
          <section>
            <h1>Prototipar?</h1>
          </section>
          <section data-background="https://media.giphy.com/media/LyJ6KPlrFdKnK/giphy.gif?response_id=5920cf6a200df4a2f80e9556">
            <h2>WTF???</h2>
          </section>
          <section>
            <h1>Componentes</h1>
            <h2 class="fragment">Reutilizavéis!</h2>
          </section>
          <section>
            <h1>Libs de UI</h1>
            <ul>
              <li><a href="https://github.com/cotabox/vue-strap" target="_blank">Vue-Strap</a></li>
              <li><a href="https://github.com/ElemeFE/element" target="_blank">Element</a></li>
              <li><a href="https://github.com/rafaelpimpa/buefy" target="_blank">Buefy</a></li>
              <li>E muitos outros...</li>
            </ul>
          </section>
          <section>
            <h1>Usamos o Vue-Strap!</h1>
            <img src="images/vuestrap.png" alt="Vue Strap">
          </section>
          <section>
            <h1>Reutilizar, reutilizar, reutilizar!</h1>
          </section>
          <section>
            <h1>Cotabox</h1>
            <img src="images/cotabox-exemplo.png" alt="Exemplo do Cotabox">
          </section>
          <section>
            <h2>Libs que usamos</h2>
            <ul>
              <li>Axios</li>
              <li>VueFire</li>
              <li>Lodash e Ramda</li>
              <li>Vue-truncate-collapsed</li>
              <li>Bootswatch</li>
              <li>Vue Smooth Scroll</li>
              <li>Etc... veja mais em <a href="http://github.com/vuejs/awesome-vue" target="_blank">Awesome Vue</a></li>
            </ul>
          </section>
        </section>

        <section data-background="https://media.giphy.com/media/srbiWWa0VW2YM/giphy.gif?response_id=5920cecd6e365c0d2810b5ce">
          <h1>Vamos codar!</h1>
        </section>

        <section>
          <h2>Nosso app utilizará:</h2>
          <ul>
            <li class="fragment">Vue.js</li>
            <li class="fragment">Firebase</li>
            <li class="fragment">VueFire</li>
            <li class="fragment">Bootswatch</li>
            <li class="fragment">Vue-Webcam</li>
          </ul>
          <p class="fragment">Acesse em: <a href="https://vue-photow.firebaseapp.com" target="_blank">https://vue-photow.firebaseapp.com</a></p>
          <p class="fragment">Veja o source em: <a href="https://github.com/kavalcante/vue-photow">https://github.com/kavalcante/vue-photow</a></p>
        </section>

        <section>
          <h1>Referências</h1>
          <ul>
            <li><a href="https://www.casadocodigo.com.br/products/livro-vue" target="_blank">Livro de Vue da Casa do Código</a></li>
            <li><a href="https://www.youtube.com/user/Firebase" target="_blank">Canal do Firebase no Youtube</a></li>
            <li><a href="https://www.youtube.com/watch?v=xfZsoEZpit4&list=PL77JVjKTJT2hpxOjdD6VDc1JDXAKs08z5" target="_blank">Curso de Vue na WebSchool (gratuito)</a></li>
            <li><a href="https://codecasts.com.br/series/vue-confee" target="_blank">Curso de Vue na Codecasts (pago)</a></li>
            <li><a href="https://www.udemy.com/vuejs-2-essentials/" target="_blank">Curso de Vue na Udemy (pago)</a></li>
            <li><a href="https://vuejs.org/v2/guide/" target="_blank">Documentação do Vue</a></li>
            <li><a href="firebase.google.com/docs" target="_blank">Documentação do Firebase</a></li>
          </ul>
        </section>

        <section data-background="https://media.giphy.com/media/6tHy8UAbv3zgs/giphy.gif?response_id=5920ce55f4a480ca244f1527">
          <h1>Valeu :)</h1>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
